{% extends "layout.twig" %}

{% block content %}
<script type="text/javascript">
$(function(){
  $.inlineEdit({
    //target: '?type=target&f={{ fileName }}&id=',
    target: '/update/{{ fileName }}/',
    //remove: '?remove&type=target&f={{ fileName }}&id='
    remove: '/delete/{{ fileName }}/'
  }, {
    animate: false,
    filterElementValue: function($o) {
      return $o.html();
    }
  });
});
$(document).ready(function(){

  // sort columns!
  var th = jQuery('th'),
    inverse = false;
  th.click(function(){
    var header = $(this),
        index = header.index();
    header
      .closest('table')
      .find('td')
      .filter(function(){
        return $(this).index() === index;
      })
      .sort(function(a, b){
        a = $(a).text();
        b = $(b).text();
        return (
          isNaN(a) || isNaN(b) ?
            a > b : +a > +b
          ) ?
            inverse ? -1 : 1 :
            inverse ? 1 : -1;
      }, function(){
        return this.parentNode;
      });
    inverse = !inverse;
  });

  if(typeof $(".source > textarea")!="undefined") {
    $(".source > textarea").width( $(".source").width() ).attr("readonly", "readonly");
    $(".editableMulti").click(function(){
      var o = $(this).find("textarea");
      o.width($(this).width()).autogrow();
    });
    $('#f, #show_empty, #show_dup').change(function(){
      window.location = '?f=' + $('#f').val() + '&show_empty=' + $('#show_empty').val() + '&show_dup=' + $('#show_dup').val();
    });
    //----------------------------------------------------------------------------
    $(window).jkey('shift+ctrl+g', function(){
      var trid = $('.editFieldWrapper').parent().parent().attr('id');
      var from = $('#'+trid+' td.source textarea').val();
      $.translate(from, '{{ langSource }}', '{{ langTarget }}', {
        complete: function(translation){
          $('.editFieldWrapper textarea.editField').val(translation);
        }
      });
    })
    $(window).jkey('esc',function(){
      $('.editFieldCancel').click();
    });
    $(window).jkey('ctrl+m',function(){
      $('#hinfo').click();
    });
    $(window).jkey('ctrl+e',function(){
      var newVal = $('#show_empty').val()==0 ? 1 : 0;
      window.location = '?f=' + $('#f').val() + '&show_empty=' + newVal;
    });
    $(window).jkey('ctrl+d',function(){
      var newVal = $('#show_dup').val()==0 ? 1 : 0;
      window.location = '?f=' + $('#f').val() + '&show_dup=' + newVal;
    });
    $(window).jkey('shift+ctrl+down', function(){
      move('next', true);
    });
    $(window).jkey('ctrl+down', function(){
      move('next', false);
    });
    $(window).jkey('shift+ctrl+up', function(){
      move('prev', true);
    });
    $(window).jkey('ctrl+up', function(){
      move('prev', false);
    });
    //----------------------------------------------------------------------------
    $('#hinfo').click(function(){
      $('#info').modal();
      return false;
    });
    var move = function(prevNext, save){
      var tr = $('.editFieldWrapper').parent().parent();
      // do we want to up or down?
      if(prevNext == 'next') {
        var ntr = $('.editFieldWrapper').parent().parent().next();
      } else {
        var ntr = $('.editFieldWrapper').parent().parent().prev();
      }
      ed(tr, ntr, save);
    };
    var ed = function(tr, ntr, save){
      if(ntr!=null) {
        if(save==true) {
          $('.editFieldSaveControllers button').click();
        } else {
          $('.editFieldCancel').click();
        }
        $('#id'+ntr.attr('id')).click();
      }
    };
  }
});
</script>
</head>
<body>

{% if noDuplicate %}
<div class="notice c">No duplicates</div>
{% endif %}
<span id="hinfo" class="{{ isWritable ? 'success' : 'error' }}"><a href="#info">Menu</a><br/>{{ langSource }} -> {{ langTarget }}</span>
<div id="info" style="display:none;">
  <ul>
    {% if isWritable %}
    <li class="success"><a href="/reindex/{{ fileName }}">Re-index file</a><br/></li>
    {% else %}
    <li class="error"><a href="/permission/{{ fileName }}">File NOT writable (readonly mode)!</a><br/></li>
    {% endif %}
    <li><label for="f">Edited file :</label> {{ selectFiles|raw }}</li>
    <li><label for="empty">Empty targets?</label> {{ selectShowEmpty|raw }}</li>
    <li><label for="duplicate">Show duplicates?</label> {{ selectShowDuplicate|raw }}</li>
    <li><label>basedir :</label> {{ baseDir }}</li>
    <li><label>last extract :</label> {{ dateExtract|date('r') }}</li>
    <li><label>last save :</label> {{ dateSave|date('r') }}</li>
    <li><label>translations (from -> to) :</label> {{ langSource }} -> {{ langTarget }}</li>
  </ul>
  <h4>Help / Shortcuts</h4>
  <ul>
    <li><code>ctrl+m</code> : opens up modal menu</li>
    <li><code>ctrl+up</code> : move selection up</li>
    <li><code>ctrl+down</code> : move selection down</li>
    <li><code>ctrl+shift+up</code> : saves current edit + move selection up</li>
    <li><code>ctrl+shift+down</code> : saves current edit + move selection down</li>
    <li><code>ctrl+shift+g</code> : translates the source string using google translate</li>
    <li><code>ctrl+e</code> : only show empty <code>target</code></li>
    <li><code>ctrl+d</code> : only show duplicated <code>source</code></li>
    <li><code>esc</code> : closes opened selection without saving / closes modal menu is opened</li>
  </ul>
</div>

<table id="data">
<thead>
<tr>
    <th>ID</th>
    <th id="source">Source</th>
    <th id="target">Target</th>
</tr>
</thead>
<tbody>

{% for k, ts in oXml %}
{% set del = '<a href="/delete/' ~ fileName ~ "/" ~ ts.id ~ '">X</a>' %}
<tr id="{{ ts.id }}" {{ k is odd ? 'class="info"' : "" }}>
    <td class="r idx">{{ isWritable ? del|raw : "" }} {{ ts.id }}</td>
    <td class="trans source"><textarea>{{ ts.source is empty ? "&nbsp;" : ts.source }}</textarea></td>
    <td id="id{{ ts.id }}" class="trans target id{{ ts.id }}{{ isWritable ? " editableMulti" : "" }}">{{ ts.target is empty ? "&nbsp;" : ts.target }}</td>
</tr>
{% endfor %}

</tbody>
</table>
{% endblock %}